{% extends "base-general.html" %}
{% load static %}
{% load i18n %}

{% block seo %}
    {% for lang, url in hreflang_urls.items %}
        <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}">
    {% endfor %}
    <link rel="canonical" href="{{canonical_url}}">
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb" class="bg-secondary-subtle">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item"><a class="no-line" href="{% url 'index' %}"><strong>{% trans 'Home' %}</strong></a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>{%trans 'Contact Us'%}</strong></li>
    </ol>
</nav>
<br>
{% endblock %}