{% extends "base-general.html" %}
{% load static %}
{% load i18n %}
{% load util %}

{% block seo %}
    <title>{% trans "Edge Card Connector | PCIe/Bus Gold Finger Slot | Confull" %}</title>
    <meta name="description" content="{% trans 'High-performance Edge Card Connectors for PCIe, gold finger, and bus slot applications. Discover durable solutions at Confull.' %}">
    <meta name="robots" content="index, follow">
    <meta name="author" content="{% trans 'Confull Electronics' %}">
    <meta name="keywords" content="{% trans 'edge card connector, gold finger connector, PCIe slot, bus connector, Confull'%}">

    <meta property="og:title" content="{% trans 'Edge Card Connector | PCIe/Bus Gold Finger Slot | Confull'%}">
    <meta property="og:description" content="{% trans 'High-performance Edge Card Connectors for PCIe, gold finger, and bus slot applications. Discover durable solutions at Confull.'%}">
    <meta property="og:image" content="https://www.confull.com/static/img/edge-card-connector.jpg">
    <meta property="og:url" content="{{request.build_absolute_uri}}">
    <meta property="og:type" content="product.group">
    <meta property="og:locale" content="{{ ''|get_bcp:request.LANGUAGE_CODE }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% trans 'Edge Card Connector | PCIe/Bus Gold Finger Slot | Confull'%}">
    <meta name="twitter:description" content="{% trans 'High-performance Edge Card Connectors for PCIe, gold finger, and bus slot applications. Discover durable solutions at Confull.'%}">
    <meta name="twitter:image" content="https://www.confull.com/static/img/edge-card-connector.jpg">
    {% comment %} <meta name="twitter:site" content="@confull"> {% endcomment %}

    {% for lang, url in hreflang_urls.items %}
        <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}">
    {% endfor %}
    <link rel="canonical" href="{{canonical_url}}">

    <!-- Schema -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "CollectionPage",
            "name": "EDGE Card Connectors",
            "alternateName": ["总线金手指插卡连接器", "Gold Finger PCB Edge Connectors", "エッジカードコネクタ", "엣지 카드 커넥터","Крайовой разъём (EDGE Connector)"],
            "url": "{{request.build_absolute_uri}}",
            "description": "{% trans 'High-performance Edge Card Connectors for PCIe, gold finger, and bus slot applications. Discover durable solutions at Confull.'%}",
            "inLanguage": "{{ request.LANGUAGE_CODE }}",
            "publisher": {
                "@type": "Organization",
                "name": "Confull Electronics",
                "alternateName": "超越世纪电子",
                "logo": {
                  "@type": "ImageObject",
                  "url": "https://www.confull.com/static/img/confull-logo.png"
                },
                "url": "https://www.confull.com"
            }
        }
    </script>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb" class="bg-secondary-subtle">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item"><a class="no-line" href="{% url 'index' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{%trans 'EDGE Card Connector' %}</li>
    </ol>
</nav>

<div class="container">
    <br>
    {#导航#}
    <div class="row">
        <div class="col-lg-9 col-md-9 col-5">
        </div>
        <div class="col-lg-3 col-md-3 col-7">
            <button class="btn btn-primary rounded-pill px-3 float-end w-100" data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                {% trans "Product List" %} <i class="fa-solid fa-list"></i>
            </button>
        </div>
    </div>
    {#边目录#}
    {% include 'products-sidebar.html' %}

    <br>
    <h1 class='text-center'>{% trans 'EDGE Card Connector' %}</h1>
    <form id="filter_form">
        <div class="card">
            <div class="card-body overflow-auto">
                <div class="mb-1">
                    <span><strong>{% trans 'Type' %}:&nbsp&nbsp</strong></span>
                    <div class="btn-group" role="group">
                        <input type="radio" class="btn-check" name="shape" id="ptype1" value="180">
                        <label class="btn btn-outline-primary mb-1" for="ptype1">180°</label>
                        <input type="radio" class="btn-check" name="shape" id="ptype2" value="90">
                        <label class="btn btn-outline-primary mb-1" for="ptype2">90°</label>
                        <input type="radio" class="btn-check" name="shape" id="ptype8" value="all" checked>
                        <label class="btn btn-outline-primary mb-1" for="ptype8">All</label>
                    </div>
                </div>
                <input type="hidden" name="product_type" value="edge">
                <input type="hidden" name="language_code" value="{{ LANGUAGE_CODE }}">
            </div>
        </div>
    </form>

    <div id="product_list">
        {% include 'products-list.html' %}
    </div>

    

    <script>
        const product_filter_url = "{% url 'product_filter' %}";
    </script>
    <script src="{% static 'js/product_filter.js' %}"></script>

</div>
{% endblock %}