{% extends "base_general.html" %}
{% block content %}
{% load static %}

<header class="py-5">
    <div class="container px-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <div class="text-center">
                    <h2 class="fw-bolder mb-2">Board Connector Manufacturer with 25 Years' Experience</h2>
                    <div class="justify-content-center">
                        <a class="btn btn-outline-primary px-4 me-sm-3" href="#features">Check Products</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-block text-center">
                <img class="img-fluid rounded-3 " src="{% static 'img/banner.jpg' %}" alt="..." />
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="card" style="width: 18rem;">
                <img src="img/banner.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text fw-bolder text-center">Pin Header</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}