{% extends "base-general.html" %}
{% load static %}
{% load i18n %}

{% block seo %}
    <title>{% trans "Confull | Pin Header, Female Header, Box Header & EDGE Connector Manufacturer" %}</title>
    <meta name="description" content="{% trans 'Confull Electronics manufactures high-quality PCB connectors, including Pin Header, Female Header, IDC, and Board-to-Board solutions for industrial applications.' %}">
    <meta name="robots" content="index, follow">
    <meta name="author" content="{% trans 'Confull Electronics' %}">

    <meta property="og:title" content="{% trans 'Confull Electronics | Pin Header, Female Header & PCB Connectors'%}">
    <meta property="og:description" content="{% trans 'Confull Electronics specializes in Board-to-Board & Wire-to-Board Connectors, including Pin Header, Female Header, Box Header, Ejector Header, IC Socket, Jumper, IDC Connector, EDGE Connector, and Machined Connectors for PCB applications.'%}">
    <meta property="og:image" content="https://www.confull.com/static/img/confull-banner.jpg">
    <meta property="og:url" content="https://www.confull.com">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="{{ request.LANGUAGE_CODE }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% trans 'Confull Electronics | PCB Connector Manufacturer'%}">
    <meta name="twitter:description" content="{% trans 'Leading supplier of Pin Header, Female Header, IDC Connector, EDGE Connector, and Board-to-Board & Wire-to-Board solutions for PCB applications.'%}">
    <meta name="twitter:image" content="https://www.confull.com/static/img/confull-banner.jpg">
    <meta name="twitter:site" content="@confull">

    {% comment %} {% for lang, url in hreflang_urls.items %}
        <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}">
    {% endfor %} {% endcomment %}
    {% for lang_code, lang_name in LANGUAGES %}
        {% language lang_code %}
            {# 默认语言生成 /about/，其他语言生成 /es/about/ #}
            <link rel="alternate" hreflang="{{ lang_code }}" href="{{ request.build_absolute_uri }}">
        {% endlanguage %}
    {% endfor %}
    <link rel="canonical" href="{{request.build_absolute_uri}}">

    <!-- Schema -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Confull Electronics",
            "url": "{{request.build_absolute_uri}}",
            "logo": "https://www.confull.com/static/img/confull-logo.png",
            "description": "{% trans 'Confull Electronics specializes in Board-to-Board & Wire-to-Board Connectors, including Pin Header, Female Header, Box Header, Ejector Header, IC Socket, Jumper, IDC Connector, EDGE Connector, and Machined Connectors for PCB applications.'%}",
            "foundingDate": "1999",
            "inLanguage": "{{ request.LANGUAGE_CODE }}",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+86-180-3805-9516",
                "contactType": "customer service",
                "availableLanguage": ["en", "es", "de", "fr", "ru", "ja", "ko", "zh-Hans", "zh-Hant"]
            }
        }
    </script>
{% endblock %}

{% block content %}
<header class="py-5">
    <div class="container px-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <div class="text-center">
                    <h1 class="fw-bolder mb-2">{% trans "Confull Electronics | PCB Connector Manufacturer" %}</h1>
                    <p class="text-secondary">{%trans '25+ Years of Expertise in Board Connector Solutions'%}</p>
                    <p class="text-secondary">{%trans 'Precision in Every Pins'%}</p>
                    <div class="justify-content-center">
                        <button class="btn btn-outline-primary px-4 me-sm-3" onclick="location.href='#products_list'">{% trans "Check Products" %}</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-block text-center">
                <img class="img-fluid rounded" src="{% static 'img/confull-banner.jpg' %}" alt="{% trans 'Confull Electronics - PCB Connector Manufacturer' %}"/>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row" id="products_list">
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/pin-header.jpg' %}" class="card-img-top" 
                alt="{% trans 'Pin Header connector, durable and reliable for PCB connections, available in single-row and double-row options, used in electronic devices, industrial applications, and automation systems' %}">
                <a href="{% url 'pin-header' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "Pin Header" %}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/female-header.jpg' %}" class="card-img-top" 
                alt="{% trans 'Female Header connector, reliable and durable PCB connection, available in single-row and double-row options, widely used in electronic devices, industrial applications, and automation systems' %}">
                <a href="{% url 'female-header' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "Female Header" %}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/box-header.jpg' %}" class="card-img-top" 
                alt="{% trans 'High-quality Box Header connector for PCB, secure and stable connection, available in various pin configurations, ideal for electronic devices, industrial automation, and embedded systems' %}">
                <a href="{% url 'box-header' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "Box Header" %}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/ejector-header.jpg' %}" class="card-img-top" 
                alt="{% trans 'High-quality Ejector Header connector for PCB, secure and stable connection with locking mechanism, ideal for ribbon cable connections, used in industrial automation, embedded systems, and electronic devices' %}">
                <a href="{% url 'ejector-header' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "Ejector Header" %}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/jumper.jpg' %}" class="card-img-top" 
                alt="{% trans 'High-quality Jumper cap for PCB circuit shorting, reliable electrical connection, compatible with 2.54mm and 1.27mm pitch pin headers, widely used in electronic devices, DIY projects, and industrial control systems' %}">
                <a href="{% url 'jumper' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "Pin Header Jumper" %}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/round-header.jpg' %}" class="card-img-top" 
                alt="{% trans 'High-quality machined round pin header, precision-turned contacts for stable and reliable PCB connections, available in various pin configurations, ideal for industrial electronics, aerospace, and high-density applications' %}">
                <a href="{% url 'round-header' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "Machined Pin Header" %}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/round-female-header.jpg' %}" class="card-img-top" 
                alt="{% trans 'High-quality machined round female header, precision-turned contacts for reliable PCB connections, compatible with round pin headers, ideal for industrial electronics, aerospace, and high-density applications' %}">
                <a href="{% url 'round-female-header' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "Machined Female Header" %}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/fc.jpg' %}" class="card-img-top" 
                alt="{% trans 'High-quality IDC connector and ribbon cable for secure and reliable PCB connections, compatible with 2.54mm and 1.27mm pitch, widely used in industrial electronics, computers, and automation systems' %}">
                <a href="{% url 'fc' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "IDC Connector & Cable" %}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/ic-socket.jpg' %}" class="card-img-top" 
                alt="{% trans 'High-quality IC socket for secure and reliable chip connections, compatible with DIP, PGA, and other IC packages, ideal for PCB prototyping, industrial electronics, and embedded systems' %}">
                <a href="{% url 'ic-socket' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "IC Socket" %}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/edge.jpg' %}" class="card-img-top" 
                alt="{% trans 'High-quality EDGE card connector for secure and reliable PCB connections, compatible with PCIe, PCI, and industrial backplane systems, ideal for data communication, automation, and high-speed signal transmission' %}">
                <a href="{% url 'edge' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "EDGE Card Connector" %}</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-2 col-md-3 mb-2">
            <div class="card h-100">
                <img src="{% static 'img/learn-products.jpg' %}" class="card-img-top" 
                alt="{% trans 'Comprehensive guide to learning connectors, including pin headers, female headers, IDC connectors, board-to-board connectors, and wire-to-board connectors for electronic projects and PCB design' %}">
                <a href="{% url 'news' %}" class="stretched-link"></a>
                <div class="card-body">
                <p class="card-text fw-bolder text-center">{% trans "Learn Products" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}