{% extends "base_general.html" %}
{% block content %}
{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'css/switch_button.css' %}">

<div class="container">
    <br>
    {#导航#}
    <div class="row">
        <div class="col-lg-9 col-md-9 col-5">
        </div>
        <div class="col-lg-3 col-md-3 col-7">
            <button class="btn btn-primary rounded-pill px-3 float-end w-100" data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                {% trans "Product List" %} <i class="fa-solid fa-list"></i>
            </button>
        </div>
    </div>
    {#边目录#}
    <div class="offcanvas offcanvas-end" tabindex="-1" 
    id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{% trans "Product List" %}</h5>
            <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>

    <br>
    <form id="filter_form">
        <div class="card">
            <div class="card-body overflow-auto">
                <div class="mb-1">
                    <span><strong>{% trans 'Pitch' %}:&nbsp&nbsp</strong></span>
                    <div class="btn-group" role="group">
                        <input type="radio" class="btn-check" name="pitch" id="pitch1">
                        <label class="btn btn-outline-primary mb-1" for="pitch1">1.27</label>
                        <input type="radio" class="btn-check" name="pitch" id="pitch2">
                        <label class="btn btn-outline-primary mb-1" for="pitch2">2.0</label>
                        <input type="radio" class="btn-check" name="pitch" id="pitch3">
                        <label class="btn btn-outline-primary mb-1" for="pitch3">2.54</label>
                        <input type="radio" class="btn-check" name="pitch" id="pitch4">
                        <label class="btn btn-outline-primary mb-1" for="pitch4">5.08</label>
                        <input type="radio" class="btn-check" name="pitch" id="pitch5" checked>
                        <label class="btn btn-outline-primary mb-1" for="pitch5">All</label>
                    </div>
                </div>
                <div class="mb-1">
                    <span><strong>{% trans 'Row' %}:&nbsp&nbsp</strong></span>
                    <div class="btn-group" role="group">
                        <input type="radio" class="btn-check" name="row" id="row1">
                        <label class="btn btn-outline-primary mb-1" for="row1">1</label>
                        <input type="radio" class="btn-check" name="row" id="row2">
                        <label class="btn btn-outline-primary mb-1" for="row2">2</label>
                        <input type="radio" class="btn-check" name="row" id="row3">
                        <label class="btn btn-outline-primary mb-1" for="row3">2+</label>
                        <input type="radio" class="btn-check" name="row" id="row4" checked>
                        <label class="btn btn-outline-primary mb-1" for="row4">All</label>
                    </div>
                </div>
                <div class="mb-1">
                    <span><strong>{% trans 'Type' %}:&nbsp&nbsp</strong></span>
                    <div class="btn-group" role="group">
                        <input type="radio" class="btn-check" name="product_type" id="ptype1">
                        <label class="btn btn-outline-primary mb-1" for="ptype1">180°</label>
                        <input type="radio" class="btn-check" name="product_type" id="ptype2">
                        <label class="btn btn-outline-primary mb-1" for="ptype2">90°</label>
                        <input type="radio" class="btn-check" name="product_type" id="ptype3">
                        <label class="btn btn-outline-primary mb-1" for="ptype3">SMT</label>
                        <input type="radio" class="btn-check" name="product_type" id="ptype4">
                        <label class="btn btn-outline-primary mb-1" for="ptype4">Horizontal SMT</label>
                        <input type="radio" class="btn-check" name="product_type" id="ptype5">
                        <label class="btn btn-outline-primary mb-1" for="ptype5">U Shape</label>
                        <input type="radio" class="btn-check" name="product_type" id="ptype6">
                        <label class="btn btn-outline-primary mb-1" for="ptype6">Straddle</label>
                        <input type="radio" class="btn-check" name="product_type" id="ptype7">
                        <label class="btn btn-outline-primary mb-1" for="ptype7">Centipede Foot</label>
                        <input type="radio" class="btn-check" name="product_type" id="ptype8" checked>
                        <label class="btn btn-outline-primary mb-1" for="ptype8">All</label>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% include 'products_list.html' %}

    <script>
        const product_filter_url = "{% url 'product_filter' %}";
    </script>
    <script src="{% static 'js/product_filter.js' %}"></script>

</div>
{% endblock %}