{% extends "base_general.html" %}
{% block content %}
{% load static %}
{% load i18n %}
{% load util %}
<nav aria-label="breadcrumb" class="bg-secondary-subtle">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item"><a class="no-line" href="{% url 'index' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a class="no-line" href="{% url ''|add:product.product_type %}">
            {{ product.product_type|get_general_name }}
        </a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product|get_name:LANGUAGE_CODE }}</li>
    </ol>
</nav>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                {{ product|get_name:LANGUAGE_CODE}}
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img src="{{ product.picture.url }}" class="w-100" alt="Product Image">
                </div>
                
                <div class="col-md-6 col-sm-12 mt-3">
                    a
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}