{% load i18n %}
<div class="offcanvas offcanvas-end" tabindex="-1" 
id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{% trans "Product List" %}</h5>
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav text-center list-group">
            <li class="list-group-item">
                <a class="nav-link" href="{% url 'pin-header' %}">{% trans 'Pin Header' %}</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link " href="{% url 'female-header' %}">{% trans 'Female Header' %}</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link " href="{% url 'box-header' %}">{% trans 'Box Header' %}</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="{% url 'ejector-header' %}">{% trans 'Ejector Header' %}</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="{% url 'jumper' %}">{% trans 'Pin Header Jumper' %}</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="{% url 'idc-cable-connector' %}">{% trans 'IDC Connector & Cable' %}</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="{% url 'round-header' %}">{% trans 'Machined Pin Header' %}</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="{% url 'round-female-header' %}">{% trans 'Machined Female Header' %}</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="{% url 'ic-socket' %}">{% trans 'IC Socket' %}</a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="{% url 'edge' %}">{% trans 'EDGE Card Connector' %}</a>
            </li>
        </ul>
    </div>
</div>