{% extends "base_general.html" %}
{% block content %}
{% load static %}
{% load i18n %}

<div class="container">
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>
    {#导航#}
    <div class="row text-center"><h1><strong>{%trans 'Product List' %}</strong></h1></div>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <img src="{% static 'img/banner.jpg' %}" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}